[
    {
        "username": "Test 1",
        "IG_ID"; "123456789",
        "token": "Token 1"
    },
    {
        "username": "Test 2",
        "IG_ID"; "123456789"
        "token": "Token 2"
    },
    {
        "username": "New Test",
        "IG_ID"; "123456789"
        "token": "e232"
    },
    {
        "username": "peepeepoopoo",
        "IG_ID"; "123456789"
        "token": "testest"
    },
    {
        "username": "sdfsfd",
        "IG_ID"; "123456789"
        "token": "sfdfs"
    }
]